<div class="page-header">

    <h1><%= user.local.name %></h1>

    <a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">

            <p>
                <strong>Name</strong>: <%= user.local.name %><br>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <span class="help-block">Message:</span>
        <div class="well">
            <% user.messageThreads.forEach(function(el){%>
            <p>
                FROM: <% if (el.users[0]._id.toString() != currentUser._id.toString()) { %>
                  <%= el.users[0].local.name %>
                <% } else { %>
                  <%= el.users[1].local.name %>
                <% } %> <br>
                <% if(el.messages[el.messages.length - 1]) { %>
                  <%= el.messages[el.messages.length - 1].content %>
                <% } else { %>
                  Say hello!
                <% } %> <br>
                <%= el.createdAt %>
            </p>
            <% }) %>
        </div>
    </div>
</div>

<hr>


<% user.achievements.forEach(function(el){ %>
  <% if(el.active) { %>
  <h4>Title: <%= el.title%></h4>
  <b>Year: <%= el.year%></b> <br>
  Description: <%= el.description%> <br>

  <form class="" action="/users/<%= user._id %>/achievements/<%= el._id %>?_method=delete" method="post">
  <input class="btn btn-danger" type="submit" name="submit" value="Delete Achievements">
  </form>
  <hr>
  <% } %>

<% }) %>
<button class="btn btn-info">Submit Achievements</button>
<p>

</p>
<div id="no-way" class="toggle-form">
  <form class="" action="/users/<%= user._id %>/achievements" method="post">
  <span class="help-block">Year:</span>
  <input class="achievement form-control" name="year" />
  <br />
  <span class="help-block">Title:</span>
  <input class="achievement form-control" name="title" />
  <br />
  <span class="help-block">Description:</span>
  <textarea class="achievement form-control" name="description" rows="7"></textarea><br>
    <input class="btn btn-success" type="submit" name="submit" value="Post Achievements">
  </form>
  <br />
</div>
<hr>

<script type="text/javascript">
  $('.btn-info').click(function(evnt){
      $('#no-way').toggleClass('toggle-form');
  })
</script>
