<div id="profile">

<div class="row">
  <h1><%= user.local.name %></h1>

  <div class="col-md-4">
      <h3>Profile</h3>
      <hr>
      <p><strong>Email</strong>: <%= user.local.email %></p>
      <p><strong>School</strong>: <%= user.local.school %></p>
      <p><strong>Joined</strong>: <%= user.createdAt %></p>

      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

  </div>

  <div class="col-md-4">
    <h3>Messages</h3>
    <hr>
      <div class="well">
          <% user.messageThreads.forEach(function(el){%>
            <a href="/messages/<%= el._id %>">
              <div class="message">
                <p><% if (el.users[0]._id.toString() != currentUser._id.toString()) { %>
                  <%= el.users[0].local.name %></p>
                <% } else { %>
                  <%= el.users[1].local.name %></p>
                <% } %>
                <% if(el.messages[el.messages.length - 1]) { %>
                  <%= el.messages[el.messages.length - 1].content %></p>
                <% } else { %>
                  <p>Say hello!</p>
                <% } %>
              </div>
            </a>
            <hr>
          <% }) %>
      </div>
  </div>

  <div class="col-md-4">
    <h3>Achievement</h3>
    <hr>
  <% user.achievements.forEach(function(el){ %>
    <% if(el.active) { %>
          <h4>Title: <%= el.title%></h4>
          <b>Year: <%= el.year%></b> <br>
          Description: <%= el.description%> <br>

          <form class="" action="/users/<%= user._id %>/achievements/<%= el._id %>?_method=delete" method="post">
          <input class="btn btn-danger" type="submit" name="submit" value="Delete Achievement">
          </form>
          <hr>
          <% } %>
  <% }) %>
  <div id="no-way" class="">
    <form class="" action="/users/<%= user._id %>/achievements" method="post">
    <span class="help-block">Year:</span>
    <input class="achievement form-control" name="year" />
    <br />
    <span class="help-block">Title:</span>
    <input class="achievement form-control" name="title" />
    <br />
    <span class="help-block">Description:</span>
    <textarea class="achievement form-control" name="description" rows="7"></textarea><br>
      <input class="btn btn-success" type="submit" name="submit" value="Post Achievements">
    </form>
    <br />
  </div>

  </div>
</div>

</div>
