<style media="screen">
  #all-users{
    width: 800px;
    height: 800px;
  }
</style>

<div id="all-users">
<h1>All nUPathers</h1>

<hr>

<% data.forEach(function(user) { %>
Name: <%= user.local.name %> <br />
Email: <%= user.local.email %> <br />
School: <%= user.local.school %> <br />
Joined: <%= user.createdAt %> <br />
<a href="/users/<%= user._id %>">View</a>
<hr>
<% }) %>
</div>
