<div id="user-profile">

<div class="row">
  <h1><%= data.local.name %></h1>
  <div class="col-md-4">
    <div class="wbg">
      <h3>Profile</h3>
      <hr>
    <p>Email: <%= data.local.email %> </p>
    <p>School: <%= data.local.school %> </p>
    <p>Joined: <%= data.createdAt %> </p>

    <% if (currentUser && currentUser._id.toString() != data._id.toString()) { %>
    <form class="" action="/messages/new/<%= currentUser._id%>/<%= data._id%>" method="post">
      <input class="btn btn-default" type="submit" name="name" value="Message">
    </form>
    <% } %>

  </div>
  <div class="wbg">
    <h3>Achievements</h3>
    <hr>
<% data.achievements.forEach(function(el){ %>
  <div id="<%= el._id %>" class="achievement">
    <small><%= el.year%></small>
    <h4><%= el.title%></h4>
    <p><%= el.description%></p>
  </div>

<% }) %>
  </div>
  </div>

  <div class="col-md-8">

  <% data.posts.forEach(function(post) { %>
    <div id="<%= post._id %>" class="post wbg">
      <div class="avatar">
        <%= data.local.name[0] %>
      </div>
      <%# if(currentUser._id.toString() == post._by._id.toString()){ %>
      <!--<input class="btn btn-danger btn-delete-post" type="submit" name="submit" value="Delete Post">-->
      <button class="btn-icon btn-delete-post"><i class="fa fa-trash"></i></button>
      <%# } %>
      <p class="name"><%= data.local.name %></p>
      <h4><%= post.content %></h4>
      <% var date = new Date(post.createdAt) %>
      <p class="date"><%= date.getMonth() + 1 %>/<%= date.getDate() %>/<%= date.getFullYear()%></p>
      <hr>
      <div class="comments">
        <% post.comments.forEach(function(comment){ %>
            <% if (comment.active) {%>
              <div id="<%= comment._id %>" class="comment">
              <div class="avatar">
                <%= comment._by.local.name[0] %>
              </div>
              <p class="comment-content"><strong><%= comment._by.local.name %></strong> <%= comment.content %></p>
              <% if(currentUser._id.toString() == comment._by._id.toString()){ %>
              <!--<input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">-->
              <% } %>
            </div>
          <% } %>
        <% }) %>
      </div>
      <div class="input-group input-group-comment">
        <input type="text" class="form-control input-new-comment" id="comment" name="content" placeholder="">
        <span class="input-group-btn">
          <button class="btn btn-default btn-new-comment" type="button">Post Comment</button>
        </span>
      </div>
  </div>
  <% }) %>


</div>
</div>
</div>

<script type="text/javascript">

  $('body').on('click', '.btn-delete-post', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent()[0].id;

    var opts = {
      method: 'delete',
      url: '/posts/' + postId
    };
    var cb = function(data){
      $('#' + postId).remove();
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-new-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent()[0].id;
    var comment = $(evt.target).siblings('.input-new-comment');
    var opts = {
      method: 'post',
      url: '/posts/' + postId + '/comments',
      contentType: 'application/json',
      data: JSON.stringify({content: comment.val()})
    };
    var cb = function(data){
      comment.val('');
      var newComment = '';
      newComment += '<div id="' + data._id + '">';
      newComment += '<p><strong><%= currentUser.local.name %></strong>:&#8195;' + data.content + '</p>';
      // newComment += '<input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">'
      newComment += '<div>';

      $('.comments').append(newComment);
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-delete-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent().parent().parent()[0].id;
    var commentId = $(evt.target).parent()[0].id;

    var opts = {
      method: 'delete',
      url: '/posts/' + postId + '/comments/' + commentId
    };
    var cb = function(data){
      $('#' + commentId).remove();
    };
    $.ajax(opts).done(cb);
  });

</script>
