<br />
Name: <%= data.local.name %> <br />
Email: <%= data.local.email %> <br />
School: <%= data.local.school %> <br />
Joined: <%= data.createdAt %> <br />
<hr>
<% if (currentUser && currentUser._id.toString() != data._id.toString()) { %>
<form class="" action="/threads/new/<%= currentUser._id%>/<%= data._id%>" method="post">
  <input class="btn btn-default" type="submit" name="name" value="Message">
</form>
<hr />
<% } %>
<h3 class="help-block">Achievements:</h3> <br>

<% data.achievements.forEach(function(el){ %>
  <% if(el.active) { %>
  <h4>Title: <%= el.title%></h4>
  <b>Year: <%= el.year%></b> <br>
  Description: <%= el.description%> <br>
  <hr>
  <% } %>

<% }) %>

<div class="panel-body">
  <% data.posts.forEach(function(post){ %>
    <h3 class="help-block">Post:</h3> <br>
    <h4>Name: <%= post.content %></h4>
    Post Id: <%= post._id %><br />
    User Id: <%= data.local.name %><br />
    <%= post.createdAt %><br /><br />
    <a href="/posts/<%= post._id %>">View</a>
    <hr>
    <span class="help-block"><u>Comment on this post!</u></span><br />
    <% post.comments.forEach(function(comment){ %>
      <% if (comment.active) {%>
      <b><%= comment._by.local.name %></b>:&#8195;
      <%= comment.content %><br />
      Comment Id: <%= comment._id %><br />
      <form class="" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=delete" method="post">
        <input class="btn btn-danger" type="submit" name="submit" value="Delete">
      </form>
      <hr />
      <% } %>
    <% }) %>
    <form class="" action="/posts/<%= post._id %>/comments" method="post">
      <textarea id="comment" name="content" class="form-control" rows="2"></textarea><br>
      <input class="btn btn-success" type="submit" name="submit" value="Post">
    </form>

    <form class="" action="/posts/<%= post._id %>?_method=delete" method="post">
      <input class="btn btn-danger" type="submit" name="submit" value="Delete">
    </form>

    <hr />

  <% }) %>
</div>
