<br />
Name: <%= data.local.name %> <br />
Email: <%= data.local.email %> <br />
School: <%= data.local.school %> <br />
Joined: <%= data.createdAt %> <br />
<hr>
<% if (currentUser && currentUser._id.toString() != data._id.toString()) { %>
<form class="" action="/threads/new/<%= currentUser._id%>/<%= data._id%>" method="post">
  <input type="submit" name="name" value="Message">
</form>
<% } %>

<h3 class="help-block">Achievements:</h3> <br>

<% data.achievements.forEach(function(el){ %>
  <h4>Title: <%= el.title%></h4>
  <b>Year: <%= el.year%></b> <br>
  Description: <%= el.description%> <br>
  <hr>
<% }) %>

<form class="" action="/users/<%= data._id %>/achievements" method="post">
<span class="help-block">Year:</span>
<input id="achievement" name="year" class="form-control" />
<br />
<span class="help-block">Title:</span>
<input id="achievement" name="title" class="form-control" />
<br />
<span class="help-block">Description:</span>
<textarea id="achievement" name="description" class="form-control" rows="7"></textarea><br>
  <input class="btn btn-success" type="submit" name="submit" value="Post Achievements">
</form>
<hr>

<div class="panel-body">
  <% data.posts.forEach(function(post){ %>

    Post Id: <%= post._id %><br />
    User Id: <%= post._by %><br />
    <%= post.createdAt %><br /><br />
    <a href="/posts/<%= post._id %>">View</a>
    <hr>
    <span class="help-block">Comment on this post!</span>
    <% post.comments.forEach(function(comment){ %>
      <% if (comment.active) {%>
      <%= comment.content %><br />
      Comment Id: <%= comment._id %><br />
      <form class="" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=delete" method="post">
        <input class="btn btn-danger" type="submit" name="submit" value="Delete">
      </form>
      <hr />
      <% } %>
    <% }) %>
    <form class="" action="/posts/<%= post._id %>/comments" method="post">
      <textarea id="comment" name="content" class="form-control" rows="2"></textarea><br>
      <input class="btn btn-success" type="submit" name="submit" value="Post">
    </form>

    <form class="" action="/posts/<%= post._id %>?_method=delete" method="post">
      <input class="btn btn-danger" type="submit" name="submit" value="Delete">
    </form>

    <hr />

  <% }) %>
</div>
