<div id="user-profile">

<h1><%= data.local.name %></h1>

<br />
<p>Email: <%= data.local.email %> </p>
<p>School: <%= data.local.school %> </p>
<p>Joined: <%= data.createdAt %> </p>

<% if (currentUser && currentUser._id.toString() != data._id.toString()) { %>
<form class="" action="/messages/new/<%= currentUser._id%>/<%= data._id%>" method="post">
  <input class="btn btn-default" type="submit" name="name" value="Message">
</form>
<hr />
<% } %>

<div class="row">
  <div class="col-md-4">
    <h3>Achievements</h3>

<% data.achievements.forEach(function(el){ %>
  <% if(el.active) { %>
    <h4><%= el.title%> <small><%= el.year%></small></h4>
    <p><%= el.description%></p>
    <hr>
  <% } %>

<% }) %>
  </div>

  <div class="col-md-8">
    <h3>Posts</h3>
    <hr>
  <% data.posts.forEach(function(post){ %>
    <% if(post.active) { %>
      <div id="<%= post._id %>" class="post well">
        <h4><%= post.content %></h4>
        <p><%= post.createdAt %></p>
        <p><a href="/posts/<%= post._id %>">View</a></p>
        <% if(currentUser._id.toString() == data._id.toString()){ %>
        <input class="btn btn-danger btn-delete-post" type="submit" name="submit" value="Delete Post">
        <% } %>
        <hr>
        <div class="comments">
          <span class="help-block"><u>Comment on this post!</u></span><br />
          <% post.comments.forEach(function(comment){ %>
            <% if (comment.active) { %>
              <div class="comment" id="<%= comment._id %>">
                <p><strong><%= comment._by.local.name %></strong>:&#8195;
                <%= comment.content %><br /></p>
                <p>Comment Id: <%= comment._id %><br /></p>

                <% if (currentUser._id.toString() == data._id.toString()) {%>
                <input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">
                <hr />
              </div>
            <% } %>
            <% } %>
          <% }) %>
        </div>
        <textarea id="comment" name="content" class="form-control input-new-comment" rows="2"></textarea><br>
        <input class="btn btn-success btn-new-comment" type="submit" name="submit" value="Post Comment">

        
      </div>
    <% } %>
  <% }) %>
</div>
</div>
</div>

<script type="text/javascript">

  $('body').on('click', '.btn-delete-post', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent()[0].id;

    var opts = {
      method: 'delete',
      url: '/posts/' + postId
    };
    var cb = function(data){
      $('#' + postId).remove();
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-new-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent()[0].id;
    var comment = $(evt.target).siblings('.input-new-comment');
    var opts = {
      method: 'post',
      url: '/posts/' + postId + '/comments',
      contentType: 'application/json',
      data: JSON.stringify({content: comment.val()})
    };
    var cb = function(data){
      comment.val('');
      var newComment = '';
      newComment += '<div id="' + data._id + '">';
      newComment += '<p><strong><%= currentUser.local.name %></strong>:&#8195;' + data.content + '</p>';
      newComment += '<p>Comment Id: ' + data._id + '</p>';
      newComment += '<input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">'
      newComment += '<hr />';
      newComment += '<div>';

      $('.comments').append(newComment);
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-delete-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent().parent().parent()[0].id;
    var commentId = $(evt.target).parent()[0].id;

    var opts = {
      method: 'delete',
      url: '/posts/' + postId + '/comments/' + commentId
    };
    var cb = function(data){
      $('#' + commentId).remove();
    };
    $.ajax(opts).done(cb);
  });

</script>
