
<div class="row">

<div id="newsfeed" >
<h1>nUPath Newsfeed</h1>

<hr>

  <div class="col-md-4">
    <div class="wbg trending">
      <h3>Trending</h3>
      <hr>
      <p>#nUPath<br><small>1130 mentions</small></p>
      <p>#USHistroy<br><small>934 mentions</small></p>
      <p>#DonaldTrump<br><small>799 mentions</small></p>
      <p>#Molecules<br><small>630 mentions</small></p>
      <p>#California<br><small>157 mentions</small></p>
      <p>#SpringBreak<br><small>130 mentions</small></p>
      <p>#SleepingInClass<br><small>113 mentions</small></p>
      <p>#SchoolIsCool<br><small>110 mentions</small></p>
    </div>
  </div>

  <div class="col-md-8">
  <div class="wbg">
  <span id="helpBlock" class="help-block">Post to Newsfeed</span>
  <label class="sr-only" for="inputHelpBlock">nUPath Newsfeed</label>
  <textarea id="post" class="form-control" rows="3"></textarea><br>
  <input id="post-btn" class="btn btn-success" type="submit" name="submit" value="Post">
  </div>
  <% data.forEach(function(post) { %>
    <div id="<%= post._id %>" class="post wbg">
      <div class="avatar">
        <%= post._by.local.name[0] %>
      </div>
      <% if(currentUser._id.toString() == post._by._id.toString()){ %>
      <!--<input class="btn btn-danger btn-delete-post" type="submit" name="submit" value="Delete Post">-->
      <button class="btn-icon btn-delete-post"><i class="fa fa-trash"></i></button>
      <% } %>
      <p class="name"><%= post._by.local.name %></p>
      <h4><%= post.content %></h4>
      <% var date = new Date(post.createdAt) %>
      <p class="date"><%= date.getMonth() + 1 %>/<%= date.getDate() %>/<%= date.getFullYear()%></p>
      <hr>
      <div class="comments">
        <% post.comments.forEach(function(comment){ %>
            <% if (comment.active) {%>
              <div id="<%= comment._id %>" class="comment">
              <div class="avatar">
                <%= comment._by.local.name[0] %>
              </div>
              <p class="comment-content"><strong><%= comment._by.local.name %></strong> <%= comment.content %></p>
              <% if(currentUser._id.toString() == comment._by._id.toString()){ %>
              <!--<input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">-->
              <% } %>
            </div>
          <% } %>
        <% }) %>
      </div>
      <div class="input-group input-group-comment">
        <input type="text" class="form-control input-new-comment" id="comment" name="content" placeholder="">
        <span class="input-group-btn">
          <button class="btn btn-default btn-new-comment" type="button">Post Comment</button>
        </span>
      </div>
  </div>
  <% }) %>
  </div>
</div>
</div>

<script type="text/javascript">
  var ourBody = $('body');

  var postBtn = $('#post-btn');

  var postInput = $('#post')

  var panel = $('.panel-body')

  postBtn.on('click', function(evt){
    evt.preventDefault();
    var opts = {
      method:'post',
      url:'/posts',
      contentType: 'application/json',
      data: JSON.stringify({content: postInput.val()})
    };
    var cb = function(data){
      postInput.val('');
      var newPost = '';
      newPost += '<div id="' + data._id + '">';
      newPost += '<p>' + data._by.local.name + '</p>';
      newPost += '<p>' + data.content + '</p>';
      newPost += '<p>Post Id: ' + data._id + '</p>';
      newPost += '<p>User Id: ' + data._by._id + '</p>';
      newPost += '<p>' + data.createdAt + '</p>';
      newPost += '<p><a href="/posts/' + data._id + '">View</a></p>';
      newPost += '<input class="btn btn-danger btn-delete" type="submit" name="submit" value="Delete Post">';
      newPost += '<hr />';
      newPost += '<span class="help-block">Comment on this post!</span>'
      newPost += '<form class="" action="/posts/' + data._id + '/comments" method="post">'
      newPost += '<textarea id="comment" name="content" class="form-control" rows="2"></textarea><br>'
      newPost += '<input class="btn btn-success btn-delete" type="submit" name="submit" value="Post Comment">';
      newPost += '<br />'
      newPost += '</form>'
      newPost += '</div>';
      newPost += '<hr>';
      // var newPost = $('<div>', {id: data['_id'], class: 'panel-body', text: data['content']});
      // console.log(data);
      panel.prepend(newPost);
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-delete-post', function(evt){
    evt.preventDefault();
    var postId = $(this).parent()[0].id;
    console.log(postId);
    var opts = {
      method: 'delete',
      url: '/posts/' + postId
    };
    var cb = function(data){
      $('#' + postId).remove();
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-new-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent().parent().parent()[0].id;
    var comment = $(evt.target).parent().siblings('.input-new-comment');

    var opts = {
      method: 'post',
      url: '/posts/' + postId + '/comments',
      contentType: 'application/json',
      data: JSON.stringify({content: comment.val()})
    };
    var cb = function(data){
      comment.val('');
      var newComment = '';
      newComment += '<div id="' + data._id + '">';
      newComment += '<p>' + data.content + '</p>';
      newComment += '<p>Comment Id: ' + data._id + '</p>';
      newComment += '<input class="btn btn-danger btn-delete-comment" type="submit" name="submit" value="Delete Comment">'
      newComment += '<hr />';
      newComment += '<div>';

      $('.comments').append(newComment);
    };
    $.ajax(opts).done(cb);
  });

  $('body').on('click', '.btn-delete-comment', function(evt){
    evt.preventDefault();
    var postId = $(evt.target).parent().parent().parent()[0].id;
    var commentId = $(evt.target).parent()[0].id;

    var opts = {
      method: 'delete',
      url: '/posts/' + postId + '/comments/' + commentId
    };
    var cb = function(data){
      $('#' + commentId).remove();
    };
    $.ajax(opts).done(cb);
  });

</script>
