<br />
<span id="helpBlock" class="help-block">Post</span>
<label class="sr-only" for="inputHelpBlock">nUPath Newsfeed</label>
<textarea id="post" class="form-control" rows="3"></textarea>
<input id="post-btn" class="btn btn-success" type="submit" name="submit" value="Post">
<br />

<br /><hr /><br />
<div class="panel-body">
<% data.forEach(function(post) { %>
<%= post._by.local.name %><br />
<%= post.content %><br />
Post Id: <%= post._id %><br />
User Id: <%= post._by._id %><br />
<%= post.createdAt %><br /><br />
<a href="/posts/<%= post._id %>">View</a>
<hr>
<span class="help-block">Comment on this post!</span>
<% post.comments.forEach(function(comment){ %>
  <% if (comment.active) {%>
  <%= comment.content %><br />
  Comment Id: <%= comment._id %><br />
  <form class="" action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=delete" method="post">
    <input class="btn btn-danger" type="submit" name="submit" value="Delete">
  </form>
  <hr />
  <% } %>
<% }) %>
<form class="" action="/posts/<%= post._id %>/comments" method="post">
  <textarea id="comment" name="content" class="form-control" rows="2"></textarea><br>
  <input class="btn btn-success" type="submit" name="submit" value="Post">
</form>

<form class="" action="/posts/<%= post._id %>?_method=delete" method="post">
  <input class="btn btn-danger" type="submit" name="submit" value="Delete">
</form>

<hr />
<% }) %>
</div>

<script type="text/javascript">
  var ourBody = $('body');

  var postBtn = $('#post-btn');

  var postInput = $('#post')

  var panel = $('.panel-body')

  postBtn.on('click', function(evt){
    evt.preventDefault();
    var opts = {
      method:'post',
      url:'/posts',
      contentType: 'application/json',
      data: JSON.stringify({content: postInput.val()})
    };
    var cb = function(data){
      var newPost = $('<div>', {id: data['_id'], class: 'panel-body', text: data['content']});
      panel.append(newPost);
    };
    $.ajax(opts).done(cb);
  });


</script>
