<%= post._by.local.name %>
<%= post.content %>
<%= post.createdAt %>
<%= post.comments.length %> comments

<hr>
<% post.comments.forEach(function(comment){ %>
  <%= comment.content %><br />
  Comment Id: <%= comment._id %><hr />
<% }) %>
<form class="" action="/posts/<%= post._id %>/comments" method="post">
  <textarea id="comment" name="content" class="form-control" rows="2"></textarea><br>
  <input class="btn btn-success" type="submit" name="submit" value="Post">
</form>
<hr />
